<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Axonix.demo.mapper.ThirdPartyApiLogMapper">
  <resultMap id="BaseResultMap" type="com.Axonix.demo.model.ThirdPartyApiLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.Axonix.demo.model.ThirdPartyApiLogWithBLOBs">
    <result column="request_data" jdbcType="LONGVARCHAR" property="requestData" />
    <result column="response_data" jdbcType="LONGVARCHAR" property="responseData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, service_name, status, createdTime
  </sql>
  <sql id="Blob_Column_List">
    request_data, response_data
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.Axonix.demo.model.ThirdPartyApiLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from third_party_api_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.Axonix.demo.model.ThirdPartyApiLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_party_api_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from third_party_api_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from third_party_api_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.Axonix.demo.model.ThirdPartyApiLogExample">
    delete from third_party_api_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.Axonix.demo.model.ThirdPartyApiLogWithBLOBs">
    insert into third_party_api_logs (id, service_name, status, 
      createdTime, request_data, response_data
      )
    values (#{id,jdbcType=INTEGER}, #{serviceName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{requestData,jdbcType=LONGVARCHAR}, #{responseData,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Axonix.demo.model.ThirdPartyApiLogWithBLOBs">
    insert into third_party_api_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdtime != null">
        createdTime,
      </if>
      <if test="requestData != null">
        request_data,
      </if>
      <if test="responseData != null">
        response_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestData != null">
        #{requestData,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseData != null">
        #{responseData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.Axonix.demo.model.ThirdPartyApiLogExample" resultType="java.lang.Long">
    select count(*) from third_party_api_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_party_api_logs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serviceName != null">
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null">
        createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.requestData != null">
        request_data = #{record.requestData,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.responseData != null">
        response_data = #{record.responseData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update third_party_api_logs
    set id = #{record.id,jdbcType=INTEGER},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
      request_data = #{record.requestData,jdbcType=LONGVARCHAR},
      response_data = #{record.responseData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_party_api_logs
    set id = #{record.id,jdbcType=INTEGER},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.Axonix.demo.model.ThirdPartyApiLogWithBLOBs">
    update third_party_api_logs
    <set>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestData != null">
        request_data = #{requestData,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseData != null">
        response_data = #{responseData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.Axonix.demo.model.ThirdPartyApiLogWithBLOBs">
    update third_party_api_logs
    set service_name = #{serviceName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=TIMESTAMP},
      request_data = #{requestData,jdbcType=LONGVARCHAR},
      response_data = #{responseData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Axonix.demo.model.ThirdPartyApiLog">
    update third_party_api_logs
    set service_name = #{serviceName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>